@font-face {
  font-family: 'Resist Sans Text';
  src: url('ResistSansText-Light.woff2') format('woff2'),
  url('ResistSansText-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

