.todoItem{
  display:flex;
  align-items:center;
  padding:20px;
  font-size:20px;
  background-color: white;
  border-bottom:1px solid #ebebeb;
  .todoTitle{
    margin-left:15px;
    word-break: break-all;
    font-weight:100;
    &.completed{
      text-decoration: line-through;
      color: #dadada;
    }
  }

}