.todo{
  width:500px;
  margin:0 auto;
  h1{
    text-align:center;
    color:#ede4e4;
    margin-bottom: 20px;
    font-size: 70px;
  }
  .todoList{
    -webkit-box-shadow: 0 20px 17px 3px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0 20px 17px 3px rgba(34, 60, 80, 0.2);
    box-shadow: 0 20px 17px 3px rgba(34, 60, 80, 0.2);
  }
}
